# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dependency directories
Pipfile.lock
poetry.lock

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Data files
data/
*.csv
